
<!-- BURGER PICTURE AND HEADLINE --> 

<div class="container bg">
	<div class="row">
	    <div class="center col-sm-12">
			<img src="../assets/images/burger.jpg" alt="Eat-Da-Burger">
	        <h2>Eat-Da-Burger</h2>
	    </div>
  	</div>

<!-- THE ONES THAT WERE ADDED, AND READY TO BE EATEN -->
	<div class="row">
	    <div class="col-sm-6">

			<br>
			<h3>Burgers Available To Eat!</h3>

			<ul>

			  {{#each burgers}}
			    {{#unless this.devoured}}
			      <li>
			      	{{this.id}}.{{this.name}}
			          <input type="hidden" name="devoured" value="true">
			          <button class="btn-primary" type="submit" id="devour-button" data-id="{{id}}">Devour It!</button>
			      </li>
			    {{/unless}}
			  {{/each}}

			</ul>

	    </div>

<!-- THE ONES THAT WERE ALREADY EATEN -->
	    <div class="col-sm-6">

			<h3>Burgers That Have Been Eaten!</h3>
			
			  {{#each burgers}}
			    {{#if this.devoured}}
			      <li>
			      	{{this.id}}.{{this.name}}
			      </li>
			    {{/if}}
			  {{/each}}
			
	    </div>

  	</div>

	<!-- BURGER INPUT TEXT AND SUBMIT AREA-->
	<div class="row">
	    <div class="center col-sm-12">
			<h3>Add A Burger!</h3>
			  <div class="form-group">
			    <p>Enter a burger you want to order and click the Submit button.</p>
			    <input type="text" id="burger-text" name="name">
			  </div>
			  <button class="btn-primary" type="submit" id="submit-button">Submit</button>
	    </div>
  	</div>
</div>